<h2 class="text-center my-4">Lista de Productos con Handlebars v2</h2>
<div class="row">
  {{#each products}}
    <div class="col-sm-2">
      <div class="card" style="width: 16rem;">
        <img class="card-img-top" src="{{this.thumbnail}}" alt="Card image cap" />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{this.title}}</h5>
          <p>ID: {{this.id}}</p>
          <p>{{this.description}}</p>
          <p>Precio: ${{this.price}}</p>
          <p>Código: {{this.code}}</p>
          <p>Stock: {{this.stock}}</p>
          <div class="mt-auto d-flex justify-content-center">
            <a href="#" class="btn btn-primary w-100">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
